* {
  margin: auto;
  padding: 0;
}

body {
  font-family: 'Gaegu', cursive;
  background: #efefef;
}

header {
  text-align: center;
  padding-top: 20px;
}

.container {
  width: 85%;
  height: 75vh;
  background: #dedede;
  margin: 20px 7.5%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* sticky notes */

.sticky {
  margin: 14px;
  background: #d5fffb;
  border-radius: 2px;
  padding: 10px;
  width: 275px;
  height: 275px;
}

textarea {
  width: 250px;
  height: 250px;
  margin-left: 12.5px;
  float: left;
}

.delete {
  float: right;
  margin-top: 0;
  font-size: 1.2rem;
  margin-left: 10px;
}

.note1 {
  grid-column: 1 2;
  grid-row: 1 2;
}

.note2 {
  grid-column: 2 3;
  grid-row: 1 2;
}

.note3 {
  grid-column: 3 4;
  grid-row: 1 2;
}

.note4 {
  grid-column: 1 2;
  grid-row: 2 3;
}

.note5 {
  grid-column: 2 3;
  grid-row: 2 3;
}

.note6 {
  grid-column: 3 4;
  grid-row: 2 3;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.left, .right {
  margin: 20px;

}

.page {
  margin-top: 20px;
  text-align: center;
}

.jump {
  margin-bottom: 10px;
  padding: 10px;
  background: white;
  border: #dedede 1px solid;
  border-radius: 2px;
}

.change {
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 3rem;
}
